@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">

    <h1 class="display-4 text-black">Welcome To the Pizza House!</h1>
    <h4 class="text-black"> We are open from 10 am -- 10 pm every day</h4>
    <p>Pizza time. Get two or more pizzas for a better price</p>
    <img class="mainImage" src="~/images/welcom.png" />

</div>
